@use "./mixins" as *;
@use "./fonts" as *;
@use "./variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro", sans-serif;
}

a,
a:hover,
a:focus,
button {
  text-decoration: none;
  outline: none;
  color: unset;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.h1,
h1 {
  font-size: 36px;
}

.h2,
h2 {
  font-size: 30px;
}

.h4,
h4 {
  font-size: 24px;
}

.h5,
h5 {
  font-size: 18px;
}

.h6,
h6 {
  font-size: 14px;
}

.btn-custom {
  background: $custom-color;
  color: $custom-text-color;
  font-size: 16px;

  &:hover,
  &:focus {
    color: $custom-text-color;
  }
  
  &.btn-text {
    color: $custom-color;
    background: transparent;

    &:hover,
    &:focus {
      color: $custom-color;
    }
  }
  .icon-btn {
    font-size: 25px;
  }
}

.btn-round {
  border-radius: 100px;
}

.play-shadow {
  border-radius: 50%;
  border: 3px solid $custom-color;
  width: 80px;
  height: 80px;
}

.btn-play {
  background: #eee;
  color: $custom-color;
  width: 60px;
  height: 60px;
  line-height: 0;
  font-size: 30px;
  padding: 0px;
  text-align: center;
  border-radius: 50%;

  &:hover {
    background: #fff;
  }
}


