@use "../../styles/partials/mixins" as *;

.header {
  background-image: url("../../assets/images/banner.png");
  background-blend-mode: overlay;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 0.75rem;
  margin-top: 0.5rem;

  &__title {
    font-weight: 800;
   
  }

  &__btn {
    width: 80%;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
    height: 30%;

    @include tablet {
      width: 40%;
    }
  }

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include desktop {
    width: 1280px;
    margin: 3rem auto;
  }
}
