@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sticky-wrapper,
.is-sticky {
  @include navbar-sticky;
}

.container {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
}

.navbar-header {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  &.navbar-dark {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: rgba(255, 255, 255, 0.6);
          &:hover {
            color: rgba(255, 255, 255, 0.7);
          }
        }
        &.active {
          .nav-link {
            color: #fff;
          }
        }
      }
    }
    .navbar-toggler {
      color: #fff;
    }
  }
  &.navbar-light {
    .navbar-nav {
      .nav-item {
        &.active {
          .nav-link {
            color: $custom-color;
          }
        }
      }
    }
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 26px;
    line-height: 1;
  }
}

@include tablet-extend {
  .navbar-header {
    .navbar-nav {
      .nav-link {
        margin: 0 10px;
      }
    }
  }
}

@include tablet {
  .navbar-header {
    .container {
      width: 90%;
    }
  }

  .sticky-wrapper {
    @include navbar-sticky;
  }
}
